.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul > .Category_Item { position:relative; margin-left: 20px;}
.Test_Container { margin-left: 20px; clear: both; display:none;}

.TestCase {
  position:relative; margin-left: 20px;
  width: auto;
  padding: 0;
  float:left;
}

.TestCase_name {
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
  overflow:hidden;
}

.TestCase_graph {
  border: 1px solid black;
  height:400px;
  width:500px;
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
}

.TestCase_data {
  border: 1px solid black;
  height:400px;
  width: auto;
  float:left;
  overflow:hidden;
}

.Testcase_data_list {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 30px;
}

div#Options {
  min-width:300px;
  min-height: 250px;
  height: auto;
  width: auto;
  border: 1px solid black; 
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 1.0); 
  z-index: 100;
}


label h3 {
  display:inline;
}

 .category_list_checkbox { 
  -webkit-appearance: none;
  appearance: none;
}

ul {display: block; clear:both;}

input:checked ~ ul {
  display: block; 
}

input ~ ul  {
  display: none;
}

input:checked ~ .Test_Container {
  display:block;
}

.glyph {
  display:inline-block; 
}

input:checked + label > .glyph {
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);      
}
