.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
  background-color: hsla(360, 0%, 98%, 1);
}

ul > .Category_Item { position:relative; margin-left: 20px;}

.Test_Container {
  margin-left: 20px;
  clear: both; 
  display:none;
  height:none;
}

.TestResult {
  background-color:white;
  position:relative; margin-left: 20px;
  width: auto;
  padding: 0;
  float:left;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.TestCase {
  position:relative; margin-left: 20px;
  width: auto;
  padding: 0;
  float:left;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
.TestCase:hover{
  background-color: hsla(195,53%,79%, 0.45);  
}

.stdout_div {
  position:relative; margin-left: 20px;
  width: 450px;
  height: 450px;
  overflow-y:scroll;
  word-wrap: break-word;
  padding: 0;
  float:left;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.TestStep_name {
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
  overflow:hidden;
}
.TestCase_name {
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
  overflow:hidden;
}


.TestResult_graph {
  border: 1px solid black;
  height:400px;
  width:700px;
  overflow:hidden;
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
}

.TestResult_console {
  border: 1px solid black;
  height:400px;
  width:400px;
  width:auto;
  overflow-y:scroll;
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
}

.TestResult_error {
  height:400px;
  width:400px;
  overflow-y:scroll;
  margin: 0;
  padding: 0;
  float:left;
  clear:both;
}


.TestResult_data {
  border: 1px solid black;
  height:400px;
  width: auto;
  float:left;
  overflow:hidden;
}

.TestResult_data_list {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 30px;
}

.TestResult_rendering {
  width: auto;
  float: left;
  clear:both;
}

.TestResult_image_div {
  width: auto;
  border: 1px solid black;
  float:left;
  margin: 5px;
}

.TestResult_image {
  height:400px;
  width: 533.33;
  margin: 0;
  padding: 0;
  float:left;
}


.test_successful {
  background-color: hsla(143, 100%, 68%, 1);
  margin-left: 10px;
}

.test_failed {
  background-color: hsla(353, 100%, 68%, 1);
  margin-left: 10px;
}


div#Servers_List {
  height: 100px;
  width: 80%;
  margin-left: 20px;
  border: 1px solid black;
  overflow-y: scroll;
  border-radius: 5px;
}

.TestServer {
  text-align: center;
  float:left;
  height: 25px;
  width: 200px;
  margin: 5px 5px 10px 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

div#TestRuns_list {
  height: 150px;
  width: 80%;
  margin-left: 20px;
  border: 1px solid black;
  overflow-y: scroll;
  border-radius: 5px;
}

.TestRun {
  text-align: center;
  float:left;
  height: 25px;
  width: 200px;
  margin: 5px 5px 10px 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.TestRun_NoResults {
  color: lightgray;
}

.Selected_Server {
  background-color: lightblue;
}

.Selected_TestRun {
  background-color: lightblue;
}


div#Options {
  min-width:300px;
  min-height: 250px;
  height: auto;
  width: auto;
  border: 1px solid black; 
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 1.0); 
  z-index: 100;
}


label h3 {
  display:inline;
}

 .category_list_checkbox { 
  -webkit-appearance: none;
  appearance: none;
}

ul {
  height:auto;
  display: block;
  clear:both;
}

input:checked ~ ul {
  display: block; 
}

input ~ ul  {
  display: none;
}

input:checked ~ .Test_Container {
  height:auto;
  display:block;
}

.glyph {
  display:inline-block; 
}

input:checked + label > .glyph {
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);      
}
